:root {
    --bg-color: #F2F1EF;
    --text-color: #000000;
    --primary-color: #5A1785;
    --secondary-color: #FFFFFF;
    --third-color: #CCCCCC;
    --primary-color-rgb: 90, 23, 133;
    --primary-color-rgb-dos: 242, 241, 239;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #FFFFFF;
    --primary-color: #CCCCCC;
    --secondary-color: #000000;
    --third-color: #5A1785;
    --primary-color-rgb: 90, 23, 133;
    --primary-color-rgb-dos: 18, 18, 18;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all .2s ease;
}
