@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./main.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.navbar {
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    z-index: 1000;
}

.navbar-container {
    width: 90%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
}

.navbar-logo > h1 {
    margin: 0px;
}

.navbar-logo h1:nth-child(1){
    display: block;
}

.navbar-logo h1:nth-child(2){
    display: none;
}

.navbar-logo:hover {
    transform: scale(1.05);
}

.navbar-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.navbar-link:hover::after,
.navbar-link.active::after {
    width: 100%;
}

.navbar-link.active {
    color: var(--primary-color);
}

.navbar-theme {
    display: flex;
    gap: 12px;
    align-items: center;
}

.navbar-theme button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.iconify {
    color: var(--primary-color);
}

.navbar-theme button:hover {
    border: 1px solid var(--primary-color);
    transform: translateY(-2px);
}

.navbar-theme button:active {
    transform: translateY(2px);
}

.navbar-theme > .menu {
    display: none;
}

@media screen and (max-width: 1023px) {
    .navbar-container {
        width: 100%;
    }
}

@media screen and (max-width: 830px) {
    .navbar-logo h1:nth-child(1){
        display: none;
    }

    .navbar-logo h1:nth-child(2){
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .navbar-logo h1:nth-child(1){
        display: block;
    }

    .navbar-logo h1:nth-child(2){
        display: none;
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--bg-color);
        padding: 20px 0;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
        transition: bottom 0.3s ease-in-out;
    }

    .navbar-links.active {
        bottom: 0;
    }

    .navbar-theme > .menu {
        display: block;
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: var(--primary-color);
        color: var(--bg-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease;
    }

    .navbar-theme > .menu > .iconify {
        color: var(--secondary-color);
    }

    .navbar-theme > .menu:active {
        transform: scale(0.95);
    }
}