@use "variables" as *;

.btn {
    width: fit-content;
    padding: $spacing-sm $spacing-md;
    border: 2px solid transparent;
    border-radius: 5px;
}

.btn-primary {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-sm;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
    transition: all 0.3s ease;

    label, .btn-icon {
        position: relative;
        z-index: 1;
        cursor: pointer;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        transition: transform 0.4s ease-in-out;
        transform: translateX(0);
    }

    &:hover::before {
        transform: translateX(100%);
    }

    &:hover {
        color: var(--primary-color);
    }

    &:not(:hover)::before {
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
    }
}

.btn-secondary {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-sm;
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition: all 0.3s ease;

    label, .btn-icon {
        position: relative;
        z-index: 1;
        cursor: pointer;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        transition: transform 0.4s ease-in-out;
        transform: translateX(0);
    }

    &:hover::before {
        transform: translateX(100%);
    }

    &:hover {
        color: var(--white-color);
    }

    &:not(:hover)::before {
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
    }
}

.card {
    background-color: var(--white-color);
    padding: $spacing-lg;
    border-radius: 8px;
    box-shadow: 0 4px 10px $gray-light;
}