@use "variables" as *;

.about-section {
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .container {
        max-width: 1024px !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $spacing-lg;

        .section-title {
            font-size: $font-size-xxl;
            font-weight: 700;
            color: var(--primary-color);
        }

        .section-description {
            padding: $spacing-sm;
        }

        .skills-section {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $spacing-sm;
            gap: $spacing-lg;

            .skills-container {
                width: 50%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: $spacing-sm;
                
                .skill-card {
                    width: 70%;
                    padding: $spacing-sm;
                    border-radius: 8px;
                    background: var(--bg-color);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: transform 0.3s ease, box-shadow 0.3s ease;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                    
                    &:hover {
                        transform: scale(1.01);
                        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
                    }
                    
                    .skill-info {
                        display: flex;
                        align-items: center;
                        gap: $spacing-lg;

                        .skill-icon {
                            display: flex;
                            align-items: center;
                            color: var(--primary-color);
                        }
                        
                        .skill-name {
                            color: var(--text-color);
                        }
                    }
                }
            }

            .skills-description {
                padding: 0 $spacing-lg;
                width: 50%;
                display: flex;
                align-items: center;

                ul {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-lg;

                    .skill-item {
                        width: 100%;

                        .skill-details {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px solid var(--primary-color);

                            .skill-head {
                                display: flex;
                                align-items: center;
                                gap: $spacing-sm;
                                
                                p {
                                    display: flex;
                                    align-items: center;
                                }
                            }

                            .stars {
                                .star-selected {
                                    color: var(--secondary-color);
                                    fill: var(--secondary-color);
                                }

                                .star-unselected {
                                    color: var(--secondary-color);
                                    fill: var(--bg-color);
                                }
                            }
                            
                        }

                    }
                }

            }


        }

    }
}

@media (max-width: 1024px) {
    .about-section {
        padding-top: 60px !important;
        padding: 0 $spacing-lg;
    }
}


@media (max-width: 768px) {
    .skills-section {
        width: 100% !important;
        flex-direction: column;
        .skills-container {
            width: 100% !important;
            flex-direction: row;
            .skill-card {
                width: fit-content !important;
                .skill-info {
                    gap: $spacing-sm !important;
                }
            }
        }

        .skills-description {
            width: 100% !important;
            justify-content: center;
        }
    }
}