@use "variables" as *;

.projects-section {
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .container {
        width: 1024px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-md;

        .section-title {
            font-size: $font-size-xxl;
            font-weight: 600;
            color: var(--primary-color);
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        .projects {
            width: 500px;
            height: 200px;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (width <= 768px) {
    .projects-section {
        padding: 0 $spacing-lg;
    }
}